
/*HTML Elements*/
/*{border:1px solid grey;}
/*{margin: 0; padding: 0;}*/

body {
  display: block;
  background-image: url("./img/bg.png");
  background-size: cover;
}

p, span, li {
}
h4 {
  margin: 5px;
}

img {
  width: 100%;
}

.box {
  width: 80%;
  margin: 0 auto;
  overflow: show;
}
.title {
  font-size: 24px;
  font-family: 'Arvo', serif;
  font-weight: bold;
}

#header {
  width: 100%;
  margin: 30px 0;
  padding-bottom: 20px;
  border-bottom: 5px dotted lightgrey;
}

#play {
  float: left; 
  width: 66%;
}
#note {
  float: right; 
  width: 33%;
}

#header div { 
  width: 31.4%;
  margin: 1%; 
}
#header input { 
  width: calc(100% - 34px);
  height: 28px;  
  -webkit-border-radius: 10px ;
     -moz-border-radius: 10px ;
          border-radius: 10px ;
}

#play p { 
  margin-left: 1.5%; 
}
#play ul {
  margin-left: 0px;
}

#group1 {
  border-bottom: 3px dotted lightgrey;
  padding-bottom: 15px;
  margin-bottom: 15px;
}
#group1 li,
#group2 li{
  background-color: rgba(255, 255, 255, 0.8);
  list-style: none;
  width: 47%;
  margin: 1% 1.5%;
}

#group2 li .content {
  display: none;
}

#group1 li {
  list-style: none;
  display: inline-block;
  vertical-align: top;
}

#group1 div { 
  width: 100%;
  border-top: 1px solid lightgrey;
  -webkit-border-radius: 10px;
     -moz-border-radius: 10px;
          
  border-radius: 10px 0;
}

.title-header { height: 22px; margin-left: -10px;}
.title-note { margin-top: -28px; }

.box-note {
  margin: 16px;
  background-color: LightGoldenRodYellow;
}

.waring {
  max-height: 274;
  overflow-y: scroll;
}
.visa {
  max-height: 150px;
  overflow-y: scroll;
}
