<div id="{{mojit_view_id}}" class="yui3-skin-sam">


  <div id="content">
    <div id="play" class="cityDetails" data-role="slidetab" data-tab-node="div.widgets">

      <ul>
        <li>Images</li>
        <li>Warning</li>
        <li>Xchange</li>
        <li>Visa</li>
        <li>See</li>
      </ul>
  {{{yootSearch}}}
      <div class="widgets">
        <div>{{{bossImage}}}</div>
        <div>{{{warning}}}</div>
        <div>{{{currency}}}</div>
        <div>{{{visa}}}</div>
        <div>{{{eanLandmarks}}}</div>
      </div>

    </div>
    <!-- put back todolist there -->
</div>
